<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!-- Appenders -->

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%C.%M:%L] - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="TRACE"/>
            <param name="LevelMax" value="INFO"/>
        </filter>
    </appender>

    <appender name="STDERR" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.err"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%C.%M:%L] - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="WARN"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
    </appender>

    <!-- Loggers -->

    <logger name="com.spring.sharepoint">
    	<level value="DEBUG"/>
    	<appender-ref ref="STDOUT"/>
    	<appender-ref ref="STDERR"/>
    </logger>

    <logger name="org.mpilone">
    	<level value="DEBUG"/>
    	<appender-ref ref="STDOUT"/>
    	<appender-ref ref="STDERR"/>
    </logger>

	<logger name="org.springframework">
		<level value="WARN"/>
    	<appender-ref ref="STDOUT"/>
    	<appender-ref ref="STDERR"/>
	</logger>

	<logger name="org.apache">
		<level value="WARN"/>
    	<appender-ref ref="STDOUT"/>
    	<appender-ref ref="STDERR"/>
	</logger>

	<logger name="org.codehaus">
		<level value="WARN"/>
    	<appender-ref ref="STDOUT"/>
    	<appender-ref ref="STDERR"/>
	</logger>

	<logger name="org.jboss">
		<level value="WARN"/>
    	<appender-ref ref="STDOUT"/>
    	<appender-ref ref="STDERR"/>
	</logger>

	<logger name="com.thoughtworks">
		<level value="WARN"/>
		<appender-ref ref="STDOUT"/>
    	<appender-ref ref="STDERR"/>
	</logger>

	<logger name="net.sf.ehcache">
		<level value="WARN"/>
    	<appender-ref ref="STDOUT"/>
    	<appender-ref ref="STDERR"/>
	</logger>

	<!-- Enable all severity levels by default, but no appenders -->
    <root>
        <level value="WARN"/>
    </root>

</log4j:configuration>